
// source https://www.w3schools.com/howto/howto_css_searchbar.asp
/* Style the search box inside the navigation bar */
.search-input {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}